<div layout="column" layout-sm="column" layout-margin>
    <section layout="row" flex>
            <div class="panel panel-default">
                <div class="panel-body">


                    <div ng-if="!hasDif() && !hasGSNMetadata()">
                        {{errorMessage}}
                    </div>

                    <div ng-if="hasDif() && hasGSNMetadata()">
                        <h3>{{dif.DIF.Entry_Title}}</h3>
                        <h4>BASIC INFORMATION</h4>

                        <p><label>Abstract: </label> {{dif.DIF.Summary.Abstract}} </p>

                        <p><label>Keywords: </label> {{gsnMetadata.features[0].properties.observed_properties.join()}}
                        </p>

                        <p><label>Creation Date: </label> {{dif.DIF.DIF_Creation_Date}} </p>

                        <h4>COVERAGE</h4>

                        <p><label>Spatial coverage: </label> {{dif.DIF.Spatial_Coverage.Southernmost_Latitude}},
                            {{dif.DIF.Spatial_Coverage.Westernmost_Longitude}}</p>

                        <p><label>Temporal coverage: </label> {{dif.DIF.Temporal_Coverage.Start_Date |
                            date:"yyyy-MM-dd"}} &mdash; {{dif.DIF.Temporal_Coverage.Stop_Date | date:"yyyy-MM-dd"}}</p>

                        <h4>LOCATION</h4>

                        <p><label>Location: </label> {{dif.DIF.Location.Detailed_Location}}</p>

                        <p><label>Elevation: </label> {{gsnMetadata.features[0].properties.elevation}} m</p>

                        <p><label>Slope: </label> {{gsnMetadata.features[0].properties.slopeAngle}} &deg;</p>

                        <p><label>Aspect: </label> {{gsnMetadata.features[0].properties.aspect}} &deg;</p>

                        <h4>STRUCTURE</h4>

                        <p><label>Parameters: </label></p>
                        <ul>
                            <li ng-repeat="parameter in gsnMetadata.features[0].properties.observed_properties">
                                <i>{{parameter}}</i>: {{gsnMetadata.features[0].properties[parameter].join()}}
                            </li>
                        </ul>

                        <h4>REFERENCE</h4>

                        <p><label>Citation: </label> {{dif.DIF.Data_Set_Citation.Dataset_Publisher}}.
                            {{dif.DIF.Data_Set_Citation.Dataset_Release_Date}}.
                            {{dif.DIF.Data_Set_Citation.Dataset_Title}}.
                            {{dif.DIF.Data_Set_Citation.Dataset_Publisher}}.
                            {{dif.DIF.Data_Set_Citation.Dataset_Release_Place}}.
                            DOI:
                        </p>

                        <p ng-if="hasWikiLink()"><label>Extra metadata: </label>
                            <a ng-href="{{gsnMetadata.features[0].properties.wikiLink}}" target="_blank">Wiki</a></p>

                    </div>

                    <div ng-if="!hasDif() && hasGSNMetadata()">
                        <h3>{{gsnMetadata.features[0].properties.sensorName}}</h3>
                        <h4>BASIC INFORMATION</h4>

                        <p><label>Keywords: </label> {{gsnMetadata.features[0].properties.observed_properties.join()}}
                        </p>

                        <h4>COVERAGE</h4>

                        <p><label>Spatial coverage: </label> {{gsnMetadata.features[0].geometry.coordinates[1]}},
                            {{gsnMetadata.features[0].geometry.coordinates[0]}}</p>

                        <p><label>Temporal coverage: </label> {{gsnMetadata.features[0].properties.fromDate}} &mdash;
                            {{gsnMetadata.features[0].properties.untilDate}}</p>

                        <h4>LOCATION</h4>

                        <p><label>Elevation: </label> {{gsnMetadata.features[0].properties.elevation}} m</p>

                        <p><label>Slope: </label> {{gsnMetadata.features[0].properties.slopeAngle}} &deg;</p>

                        <p><label>Aspect: </label> {{gsnMetadata.features[0].properties.aspect}} &deg;</p>

                        <h4>STRUCTURE</h4>

                        <p><label>Parameters: </label></p>
                        <ul>
                            <li ng-repeat="parameter in gsnMetadata.features[0].properties.observed_properties">
                                <i>{{parameter}}</i>: {{gsnMetadata.features[0].properties[parameter].join()}}
                            </li>
                        </ul>

                        <h4>REFERENCE</h4>

                        <p><label>Citation: </label></p>

                        <p ng-if="hasWikiLink()"><label>Extra metadata: </label>
                            <a ng-href="{{gsnMetadata.features[0].properties.wikiLink}}" target="_blank">Wiki</a></p>

                    </div>
                </div>

            </div>

        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <md-button class="md-raised"
                       ng-click="download();" ng-show="hasDif() || hasGSNMetadata()">
                Download
            </md-button>
            <md-button class="md-raised"
                       ng-click="explore();" ng-show="hasDif() || hasGSNMetadata()">
                Explore
            </md-button>

        </div>

    </section>
</div>